.vscode/
*.o
*.out
cmds/*
!cmds/*.c
minishell
philo
*.supp
*.txt
minishell_tester/
in
out
out1
EOF
out2
out3
cc.sh
test.py
tester
tester.c
test
tester1
tester2
test.sh
venv/
.venv/
paslespermissions
tester2.c